* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
